body {
    min-width: 1200px;
    margin: 0;
    font-family: OpenSans;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  @font-face {
    font-family: OpenSans;
    font-style: normal;
    font-weight: 700;
    src: url('/diplom/fonts/OpenSans-Bold.woff');
  }
  
  @font-face {
    font-family: OpenSans;
    font-style: normal;
    font-weight: 400;
    src: url('/diplom/fonts/OpenSans-Regular.woff');
  }
  .header {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 125px;
    position: relative;
    background-repeat: no-repeat;
    background-color: #000000;
    background-image: url('/diplom/img/banner-bg.jpg');
    background-size: cover;
  }
  .header::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
  }
  .head-all {
    padding: 0px 15px;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .heading {
    line-height: 75px;
    text-align: center;
    margin: 60px auto 0 auto;
    width: 730px;
    font-size: 45px;
    font-family: OpenSans;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
  }
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  .logo {
    width: 168px;
  }
  
  .menu {
    padding: 0;
    margin: 0;
    font-size: 13px;
    display: flex;
    color: white;
    list-style-type: none;
    text-transform: uppercase;
    z-index: 1;
  }
  .menu-item:nth-child(n + 2) {
    padding-left: 35px;
  }
  
  .link-menu-item {
    text-decoration: none;
    color: white;
  }
  
  .all-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    margin-bottom: 60px;
    display: flex;
  }
  
  .main {
    padding-left: 15px;
  }
  .card:last-child {
    margin-bottom: 0;
  }
  .card {
    display: flex;
    margin-bottom: 60px;
    width: 777px;
  }
  .nav-card {
    margin: 0px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: OpenSans;
    font-weight: 700;
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    color: #b59f5b;
  }
  .nav-card-list:nth-child(n + 2) {
    margin-left: 15px;
  }
  .nav-card-list-item {
    text-decoration: none;
    color: #b59f5b;
  }
  .header-card {
    line-height: 10px;
  }
  .heading-card {
    line-height: 24px;
    padding-top: 15px;
    margin: 0px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: OpenSans;
    font-weight: 700;
  }
  
  .heading-card-item {
    text-decoration: none;
    color: black;
  }
  .data-author {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
  }
  .card-date:nth-child(n + 2) {
    margin-left: 15px;
  }
  .data-author {
    margin: 0;
    padding-bottom: 58px;
    padding-top: 40px;
  }
  .author {
    font-size: 12px;
    font-style: normal;
    font-family: OpenSans;
    font-weight: 700;
  }
  .data {
    font-size: 12px;
    color: #888888;
    font-family: OpenSans;
  }
  .content {
    font-size: 15px;
    font-family: OpenSans;
    margin: 0;
  }
  
  .content_first {
    font-size: 15px;
    font-family: OpenSans;
    margin: 0;
  }
  .content_second {
    font-size: 15px;
    font-family: OpenSans;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .text {
    margin-left: 30px;
    padding: 0;
    width: 370px;
  }
  
  .aside {
    padding-right: 15px;
    margin-left: 120px;
    width: 270px;
  }
  .aside-cards {
    margin-bottom: 60px;
    display: block;
    padding: 0px;
    width: 270px;
  }
  
  .section-aside-cards {
    display: flex;
    margin-bottom: 22px;
  }
  
  .section-aside-cards:nth-child(6) {
    margin-bottom: 0;
  }
  
  .text-aside-cards {
    padding-left: 19px;
    line-height: 5px;
    display: block;
    margin: 0px;
  }
  
  .header-aside-card {
    font-family: OpenSans;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 10px;
    line-height: 18px;
  }
  
  .header-aside-cards {
    font-family: OpenSans;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
  }
  
  .header-aside-cards::after {
    content: "";
    width: 63px;
    height: 2px;
    background-color: #e1d9bd;
    display: block;
    margin: 12px auto 28px auto;
  }
  
  .tags {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .tags-element {
    margin-right: 6px;
    margin-bottom: 5px;
    font-family: OpenSans;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    border: 3px solid #ededed;
    padding: 5px 12px;
  }
  
  .tags-element-item {
    text-decoration: none;
    color: black;
  }
  
  .categories {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .categories-list {
    font-family: OpenSans;
    font-weight: 700;
    font-size: 14px;
    border-bottom: 1px solid #ededed;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  .categories-list-item {
    text-decoration: none;
    color: black;
  }
  
  .categories-number {
    font-family: OpenSans;
    font-weight: 700;
    font-size: 12px;
    color: #b59f5b;
    vertical-align: super;
  }
  
  .search {
    width: 193px;
    color: #828383;
    font-size: 13px;
    padding: 14px 15px 14px 15px;
    border: none;
    background-color: #f4f7f6;
    margin: 0;
  }
  
  .button-search {
    width: 43px;
    height: 43px;
    border: none;
    background-image: url("/diplom/svg/search.svg");
    background-size: 15px 15px;
    background-position: center center;
    background-color: #b59f5b;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  .img-button {
    height: 15px;
    background-color: #b59f5b;
  }
  
  .search-card {
    display: flex;
    box-sizing: border-box;
  }
  
  .email {
    color: #828383;
    width: 238px;
    font-size: 13px;
    border: none;
    padding: 12px 14px 15px 14px;
    background-color: #f4f7f6;
  }
  
  .visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }
  
  .button {
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    background-color: #b59f5b;
    color: white;
    font-size: 14px;
    font-weight: 700;
  }
  
  .button-subscribe {
    margin-top: 15px;
    padding: 17px 79px;
  }
  
  .products_block {
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
    margin-bottom: 60px;
  }
  
  .products {
    height: 423px;
    display: flex;
    list-style-type: none;
    padding-left: 15px;
    margin-top: 25px;
  }
  
  .products_card {
    width: calc((100% - 110px) / 3);
    margin-right: 55px;
    height: 425px;
  }
  
  .products_content {
    height: 216px;
    border: 2px solid #b59f5b;
    padding: 17px 12px 17px 12px;
    position: relative;
    z-index: 1;
  }
  
  .product_picture {
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: -25px;
    width: 295px;
    height: 195px;
  }
  
  .content_price {
    font-size: 15px;
    margin-bottom: 19px;
    margin-top: 7px;
  }
  
  .footer_price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .price {
    line-height: 1;
  }
  
  .price:nth-child(2) {
    line-height: 0;
  }
  
  .price_first {
    display: flex;
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 700;
  }
  
  .price_second {
    display: flex;
    font-size: 20px;
    font-weight: 700;
  }
  
  .button_price {
    padding: auto;
    width: 130px;
    height: 40px;
  }
  
  .footer {
    margin-bottom: 28px;
    width: 1170px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .social-network {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 65px;
  }
  
  .social-cards {
    background-color: #f4f7f6;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
  }
  
  .social-item {
    list-style-type: none;
    margin-right: 26px;
  }
  
  .socials-link {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .twitter {
    background-image: url("/diplom/svg/004-twitter.svg");
  }
  
  .pinterest {
    background-image: url("/diplom/svg/001-pinterest.svg");
  }
  
  .facebook {
    background-image: url("/diplom/svg/002-facebook-logo.svg");
  }
  
  .instagram {
    background-image: url("/diplom/svg/005-instagram.svg");
  }
  
  .trumblr {
    background-image: url("/diplom/svg/003-tumblr.svg");
  }
  
  .rights {
    font-size: 12px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }
  
  .rights-item {
    text-decoration: none;
    color: #999999;
  }
  
  .cards_after_head {
    display: flex;
    list-style-type: none;
    width: 100%;
    height: 310px;
  }
  .card_after_head {
    display: flex;
    width: 25%;
    margin-right: 2px;
    background-image: url("/diplom/img/trend1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .two_card {
    background-image: url("/diplom/img/trend2.jpg");
  }
  .three_card {
    background-image: url("/diplom/img/trend3.jpg");
  }
  
  .four_card {
    background-image: url("/diplom/img/trend4.jpg");
  }
  
  .card_after_head:nth-child(4) {
    margin-right: 0;
  }
  
  .card_after_head::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
  }
  
  .card_after_head_content {
    border: 2px solid #b59f5b;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    z-index: 1;
    position: relative;
    align-self: flex-end;
  }
  
  .after_card_content {
    color: white;
  }
  
  .header_after_head {
    margin-top: 55px;
    text-align: center;
    font-family: OpenSans;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 18px;
  }
  
  .header_after_head::after {
    content: "";
    width: 63px;
    height: 2px;
    background-color: #e1d9bd;
    display: block;
    margin: 5px auto 17px auto;
  }
  
  @media (max-width: 640px) {
    body {
      min-width: 360px;
      margin: 0;
      font-family: OpenSans;
    }
    .header {
      width: 90%;
      height: 630px;
      padding-left: 5%;
      padding-right: 5%;
      background-image: url("/diplom/img/banner-mobile.jpg");
      padding-top: 0;
      padding-bottom: 0;
    }
    .head-all {
      width: 100%;
      padding: 0;
    }
  
    .logo {
      width: 83%;
      padding-left: 7%;
      padding-top: 214px;
    }
  
    .navigation {
      display: none;
    }
  
    .menu__button-label {
      width: 20px;
      height: 2px;
      border-radius: 5px;
      background-color: #ffffff;
      position: absolute;
      top: 20px;
      right: 15px;
    }
  
    .menu__button-label:before {
      content: "";
      width: 20px;
      height: 2px;
      border-radius: 5px;
      background-color: #ffffff;
      position: absolute;
      margin-top: 7px;
    }
  
    .menu__button-label:after {
      content: "";
      width: 20px;
      height: 2px;
      border-radius: 5px;
      background-color: #ffffff;
      position: absolute;
      margin-top: 14px;
    }
  
    .heading {
      width: 100%;
      font-size: 26px;
      line-height: 1.5;
      margin-top: 35px;
    }
  
    .header_after_head {
      margin-top: 35px;
    }
  
    .cards_after_head {
      display: block;
      height: 920px;
      width: 100%;
    }
  
    .card_after_head {
      width: 100%;
      height: 228px;
      margin-bottom: 2px;
    }
    .after_card_content {
      font-size: 16px;
    }
  
    .card_after_head_content {
      width: 90%;
    }
  
    .nav-card-list-item {
      font-size: 14px;
    }
  
    .all-content {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      display: block;
      padding: 0;
      margin-top: 33px;
      margin-bottom: 40px;
    }
    .main {
      display: block;
      width: 100%;
      padding-left: 0;
    }
  
    .card {
      display: block;
      width: 100%;
      margin-bottom: 30px;
    }
    .card:nth-child(1) {
      margin-top: 40px;
    }
    .picture {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    .nav-card,
    .content,
    .content_first,
    .content_second {
      font-size: 14px;
    }
    .content,
    .content_second {
      padding-bottom: 20px;
    }
    .content_second {
      margin-top: 12px;
    }
    .heading-card {
      font-size: 16px;
      padding-top: 11px;
    }
    .data-author {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .aside {
      width: 100%;
      margin-left: 0;
      padding-right: 0;
      margin-top: 40px;
    }
  
    .aside-cards {
      width: 100%;
      margin-bottom: 40px;
      margin-top: 15px;
    }
  
    .text {
      margin-top: 7px;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    .text:after {
      content: "";
      height: 2px;
      width: 100%;
      background-color: #eeeeee;
      margin-bottom: 30px;
      display: block;
    }
    
    .label {
      width: 100%;
    }
    .label_search {
      width: 85%;
    }
    .search {
      width: 100%;
    }
    .email_form {
      width: 100%;
    }
    .email {
      width: 94%;
      padding-right: 3%;
      padding-left: 3%;
      padding-top: 12px;
      padding-top: 15px;
    }
    .button-subscribe {
      width: 100%;
    }
    .button-search {
      width: 15%;
    }
    .tags-element {
      padding: 5px 9px;
    }
  
    .products_content {
      width: 90%;
      padding-right: 5%;
      padding-left: 5%;
      height: auto;
    }
  
    .products_block {
      height: 1450px;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      display: block;
      margin-bottom: 40px;
    }
    .products {
      display: block;
      padding-left: 0;
      height: 468px;
    }
    .products_card {
      margin-bottom: 20px;
      margin-right: 0;
      height: auto;
      width: 100%;
    }
    .product_picture {
      width: 90%;
      padding-left: 5%;
      padding-right: 5%;
      height: 275px;
    }
    .footer {
      width: 100%;
      padding: 0;
      margin-bottom: 40px;
    }
    .social-network {
      margin-bottom: 40px;
    }
  }
  
  @media (min-width: 641px) and (max-width: 1200px), (orientation:landscape) {
    body {
      min-width: 640px;
      margin: 0;
      font-family: OpenSans;
    }
    .header {
      width: 100%;
      background-image: url("/diplom/img/banner-bg-tablet.jpg");
    }
    .head-all {
      width: 90%;
      padding: 0;
    }
    .heading {
      font-size: 40px;
      margin-top: 127px;
      width: 611px;
    }
    
    .navigation {
      display: none;
    }
  
    .menu__button-label {
      width: 20px;
      height: 2px;
      border-radius: 5px;
      background-color: #ffffff;
      position: absolute;
      top: 20px;
      right: 0;
    }
    
    .menu__button-label:before {
      content: "";
      width: 20px;
      height: 2px;
      border-radius: 5px;
      background-color: #ffffff;
      position: absolute;
      margin-top: 7px;
    }
  
    .menu__button-label:after {
      content: "";
      width: 20px;
      height: 2px;
      border-radius: 5px;
      background-color: #ffffff;
      position: absolute;
      margin-top: 14px;
    }
    
    .cards_after_head {
      width: 100%;
      flex-wrap: wrap;
     height: 488px;
    }
    
    .card_after_head {
      width: calc((100% - 2px) / 2);
      margin-bottom: 2px;
      margin-right: 0;
    }
    .card_after_head:nth-child(odd) {
      margin-right: 2px;
    }
    .card {
      display: block;
      width: 100%;
    }
    .all-content {
      width: 90%;
    }
    .main {
      padding: 0;
      width: 55%;
    }
    .aside {
      margin-left: 5%;
      padding: 0;
      width: 40%;
    }
    .picture {
      width: 100%;
    }
    .text {
      width: 100%;
      margin-left: 0;
      margin-top: 10px;
    }
    .aside-cards {
      width: 100%;
    }
    .button-subscribe {
      width: 100%;
  }
    .email {
      width: 94%;
      padding-right: 3%;
      padding-left: 3%;
      padding-top: 12px;
      padding-top: 15px;
    }
    .label_search {
      width: 85%;
  }
    .search {
      width: 100%;
    }
    .button-search {
      width: 15%;
    }
    .products_block {
      width: 90%;
      height: 926px;
      margin-bottom: 40px;
    }
    .products {
      padding: 0;
      flex-wrap: wrap;
    }
    .products_card {
      width: calc((100% - 15px) / 2);
      margin: 0;
    }
    .products_card:nth-child(odd) {
      margin-right: 15px;
    }
    .products_card:nth-child(n+3) {
      margin-top: 20px;
    }
    .product_picture {
      width: 90%;
      margin-right: 5%;
      margin-left: 5%;
      padding: 0;
    }
    .footer {
      width: 90%;
      padding: 0;
    }
    .social-network {
      padding: 0;
    }
  }
